<div class="main-container profile-container">
      <div class="nav-left-side">
        <a  href="/"><i class="fa-solid fa-house home-button"></i></a>
        <a href="/profile/1"><i class="fa-solid fa-user"></i></a>
        <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
        <button id="modalBtn" class="button-m">
          <i class="fa-solid fa-star"></i>
        </button>
    
        <a id="postModalButton" class="write-button" href="#"><i class="fa-solid fa-pen"></i></a>
      </div>
      <div class="main-post-middle profile-container">
        <div class="top">
          <img class="header-pic" src="/images/avatar1.png" alt="">
          <h4 class="username username-top">{{userData.first_name}} {{userData.last_name}}</h4>

        </div>
        
        
        <div class="middle-user-info">
          <main class='main-section'>
            <div class='post-section'>

            </div>
          </main>
          </div>


        <div class="all-posts">

          <div class="post">
            <div class="text-post">
              <div class="pic">
                <img class="post-image" src="{{posts.user.pic}}" alt="" />
              </div>
              <div class="post-text">
                <p class="post-user-name">
                  Zane Nihcols<span class="post-date"> · @zanenichols</span> <span class="post-date">0/0/0</span>
                </p>
                 {{#if postData.is_code}}
                <pre>
                <code class='language-javascript'>
              {{postData.text}}
               </code>
             </pre>
            {{else}}
                <p>
                  {{postData.text}}
                </p>
              
                  
                {{/if}}
              </div>
            </div>
            <div class="button-section">
              <button data-user-id="{{posts.user.id}}" data-post-id="{{posts.id}}" class="like-button post-button">
                <i class="fa-solid fa-heart"></i>
                <span>{{posts.likes}}</span>
                 
                  
              </button>
              <button class="comment-button post-button">
                <i class="fa-solid fa-comment"></i>
              </button>
              
              
              <button>
                delete
              </button>
              
                
            </div>
          </div>
          {{#each postData.comments as |comment|}}
          <div class="post">
            <div class="text-post">
              <div class="pic">
                <img class="post-image" src="{{posts.user.pic}}" alt="" />
              </div>
              <div class="post-text">
                <p class="post-user-name">
                  {{comment.user.first_name}} {{comment.user.last_name}}<span class="post-date"> · @{{comment.user.user_name}}</span> <span class="post-date">{{format_date comment.created_at}}</span>
                </p>
                 {{#if postData.is_code}}
                <pre>
                <code class='language-javascript'>
              {{comment.text}}
               </code>
             </pre>
            {{else}}
                <p>
                  {{comment.text}}
                </p>
              
                  
                {{/if}}
              </div>
            </div>
            <div class="button-section">
              <button data-user-id="{{posts.user.id}}" data-post-id="{{posts.id}}" class="like-button post-button">
                <i class="fa-solid fa-heart"></i>
                <span>{{posts.likes}}</span>
                 
                  
              </button>
              <button class="comment-button post-button">
                <i class="fa-solid fa-comment"></i>
              </button>
              
              
              <button>
                delete
              </button>
              
                
            </div>
          </div>
          {{/each}}
    




        </div>
      </div>
      <div id="simpleModal" class="modal">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <div class="modal-stuff">
            <div class="left-modal mod">
              <h1>{{userData.level}}</h1>
              <h3>Level</h3>
            </div>
            <div class="middle-modal mod">
              <h1>{{userData.likes}}</h1>
              <h3>Likes</h3>
            </div>
            <div class="right-modal">
              <ul>
                <li>JS</li>
                <li>Python</li>
                <li>C</li>
              </ul>
            </div>

          </div>
          
        </div>
      </div>
      <div id="postModal" class="modal">
        <div class="modal-content">
          
          <span class="close-button-post">&times;</span>
          <main class='main-section'>
            <h2 class="on-mind">Whats on your mind?</h2>
            <div class='post-section'>
              <button id="modal-submit-button" data-type="text" class='submit-post'><i class='fa-solid fa-pen'></i></button>
              <textarea id="modal-textarea" class='post-input' id='multiliner' name='multiliner'></textarea>
              <button id="modal-submit-button" data-type="code" class='submit-post'>
                <i class='fa-solid fa-code'></i>
              </button>
            </div>
          </main>

          </div>
          
        </div>

      <div class="right-profile-side profile-container">
        <h2 class="whats-happening">Whats Happening</h2>
        <div class="news">

          
        </div>


        </div>
    
        </div>
      </div>
    </div>
    <script src="../javascript.js"></script>
<script src='../js/createPost.js'></script>
<script src='../js/prism.js'></script>
<script src="/js/javascript.js"></script>
<script src="/js/modalJs.js"></script>